<!DOCTYPE html>
<html>
  <div class = "menu-bar">
    <app-menu-bar>
      <!--menu-bar.component.html-->
    </app-menu-bar>
  </div>

  <div class = "Homepage">
    <!--A homepage with some pictures of cleaned and stretched rooms-->
  </div>

  <div class = "about-us">
    <!--Paragraph about the company and the type of work-->
  </div>

  <div class = "service-locations">
    <!--Locations that he is willing to drive to-->
  </div>

  <div class = "Get-a-quote">
    <!--contact information again plus maybe an email box????-->
  </div>

  <div class = "footer">
    <app-footer>
      <!-- footer.component.html-->
    </app-footer>
  </div>
</html>
