<!DOCTYPE html>
<html>
  <div class = "footer-container">
    <div class = "footer-section" id = "contact-info">
      <p>Contact Information</p>
      <p>Phone Number: 404-932-9874</p>
      <p>Email: _______@gmail.com</p>
      <p>PO Box:</p>
    </div>

    <div id = "hours" >
      <p>Business Hours</p>
      <p>Sunday 8:00 am - 6:00 pm</p>
      <p>Monday 8:00 am - 6:00 pm</p>
      <p>Tuesday 8:00 am - 6:00 pm</p>
      <p>Wednesday 8:00 am - 6:00 pm</p>
      <p>Thursday 8:00 am - 6:00 pm</p>
      <p>Friday 8:00 am - 6:00 pm</p>
      <p>Saturday 8:00 am - 6:00 pm</p>
    </div>
  </div>
</html>
